html {background-color: black;}

h1 {
	font-family: Arial;
	border: 4px solid grey;
	text-align: center;
	color: red;
	
}

h2{
	text-align: center;
	border: 3px solid grey;
	color: red;
}

h3{
	text-align: center;
	border: 3px solid grey;
	color: red;
}
p {
	margin-right: 20px;
	margin-left: 20px;
	border: 2px solid white;
	padding: 15px;
	text-align: center;
	color: white;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}